@model DashboardData
@{
    ViewData["Title"] = "Dashboard";
}

@if (@Model.user != null)
{
@if (@Model.user.Contains("patrik") || @Model.user.Contains("petra") || @Model.user.Contains("admin"))
{
    <div class="row">
        <div class="col-lg-12">
            <partial name="NoviPregledi" model="Model.NoviPregledi"/>
        </div>
    </div>
}

    <br/>
    <br/>

@if (!@Model.user.Contains("patrik") && !@Model.user.Contains("petra") && !@Model.user.Contains("admin"))
{
    <div>
        <div class="col-lg-12">
            <partial name="MojiPreglediPonudeniTermin" model="Model.MojiPreglediPonudeniTermin"/>
        </div>
    </div>
}

@if (@Model.user.Contains("patrik") || @Model.user.Contains("petra") || @Model.user.Contains("admin"))
{
    <div class="row">
        <div class="col-lg-12">
            <partial name="MojiPreglediBezTermina" model="Model.MojiPreglediBezTermina"/>
        </div>
    </div>
}
    <br/>
    <br/>

@if (Model.AdminTasks != null && @Model.user.Contains("admin"))
{
    <div class="row">
        <div class="col-lg-12">
            <partial name="AdminTasks" model="Model.AdminTasks"/>
        </div>
    </div>
}
}


<br/>
<br/>

@* <h5 class="text-center">Process model:</h5> *@

@* <div class="container" id="canvas"></div> *@
@* *@
@* *@
@* @section scripts { *@
@* <script> *@
@*     var diagramUrl = '@Url.Action("Diagram", "Home")'; *@
@* *@
@*     var BpmnNavigatedViewer = window.BpmnJS; *@
@*     var bpmnViewer = new BpmnNavigatedViewer({ *@
@*         container: '#canvas' *@
@*     }); *@
@* *@
@*     $.get(diagramUrl, openDiagram, 'text'); *@
@* *@
@*     function openDiagram(bpmnXML) { *@
@*         bpmnViewer.importXML(bpmnXML, function (err) { *@
@*             if (err) { *@
@*                 return console.error('could not import BPMN 2.0 diagram', err); *@
@*             } *@
@* *@
@*             // access viewer components *@
@*             var canvas = bpmnViewer.get('canvas'); *@
@*             var overlays = bpmnViewer.get('overlays'); *@
@* *@
@*             // zoom to fit full viewport *@
@*             canvas.zoom('fit-viewport'); *@
@*         }); *@
@*     } *@
@* </script> *@
@* } *@