@model PacijentViewModel

<table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
        @{
            string[] nazivi = { "Id", "Datum upisa", "Anamneza", "Terapija", "MKB10" };
            for (int i = 1; i <= nazivi.Length; i++)
            {
                <th>
                    <a asp-route-sort="@i">
                        @nazivi[i - 1]
                    </a>
                </th>
            }
        }
    </tr>
    </thead>

    <tbody>
    @foreach (var pregled in Model.PovijestiPregleda)
    {
        <tr>
            <td class="text-left col-sm-2">
                @pregled.Id
            </td>
            <td class="text-left col-sm-2">
                @pregled.DatumPregleda
            </td>
            <td class="text-left col-sm-2">
                @pregled.Anamneza
            </td>
            <td class="text-left col-sm-2">
                @pregled.Terapija
            </td>
            <td class="text-left col-sm-2">
                @pregled.MKB10
            </td>
            <td class="btn-group">
                <a asp-action="Edit"
                   asp-controller="Pregled"
                   asp-route-id="@pregled.Id"
                   class="btn btn-sm" title="Ažuriraj">
                    <i class="fas fa-edit"></i>
                </a>
                <form asp-action="Delete" method="POST">
                    <input type="hidden" name="MBO" value="@pregled.Id"/>
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
